USE [master]
GO
/****** Object:  Database [BMIS]    Script Date: 1/14/2025 4:12:22 PM ******/
CREATE DATABASE [BMIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BMIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BMIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BMIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BMIS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BMIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BMIS]
GO
/****** Object:  Table [dbo].[tblBlotter]    Script Date: 1/14/2025 4:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBlotter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fileno] [varchar](50) NOT NULL,
	[barangay] [varchar](50) NULL,
	[purok] [varchar](50) NULL,
	[incident] [text] NULL,
	[place] [text] NULL,
	[idate] [date] NULL,
	[itime] [varchar](50) NULL,
	[complainant] [varchar](50) NULL,
	[witness1] [varchar](50) NULL,
	[witness2] [varchar](50) NULL,
	[narrative] [text] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_tblBlotter] PRIMARY KEY CLUSTERED 
(
	[fileno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDocument]    Script Date: 1/14/2025 4:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocument](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[refno] [varchar](50) NOT NULL,
	[type] [varchar](50) NULL,
	[details1] [text] NULL,
	[details2] [text] NULL,
	[gdate] [date] NULL,
	[duser] [varchar](50) NULL,
 CONSTRAINT [PK_tblDocument] PRIMARY KEY CLUSTERED 
(
	[refno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOfficial]    Script Date: 1/14/2025 4:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOfficial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[chairmanship] [varchar](100) NULL,
	[position] [varchar](50) NULL,
	[termstart] [date] NULL,
	[termend] [date] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_tblOfficial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPayment]    Script Date: 1/14/2025 4:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[refno] [varchar](50) NOT NULL,
	[name] [varchar](100) NULL,
	[type] [varchar](50) NULL,
	[amount] [decimal](18, 2) NULL,
	[sdate] [date] NULL,
	[suser] [varchar](50) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_tblPayment] PRIMARY KEY CLUSTERED 
(
	[refno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPurok]    Script Date: 1/14/2025 4:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPurok](
	[purok] [varchar](50) NOT NULL,
	[chairman] [varchar](100) NULL,
 CONSTRAINT [PK_tblPurok] PRIMARY KEY CLUSTERED 
(
	[purok] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRegistered]    Script Date: 1/14/2025 4:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegistered](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[position] [nchar](100) NULL,
	[username] [nchar](50) NULL,
	[password] [nchar](50) NULL,
 CONSTRAINT [PK_tblRegistered] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblResident]    Script Date: 1/14/2025 4:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblResident](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nid] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
	[fname] [varchar](50) NULL,
	[mname] [varchar](50) NULL,
	[alias] [varchar](50) NULL,
	[bdate] [date] NULL,
	[bplace] [text] NULL,
	[age] [int] NULL,
	[civilstatus] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[religion] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[contact] [varchar](50) NULL,
	[voters] [varchar](50) NULL,
	[precint] [varchar](50) NULL,
	[purok] [varchar](50) NULL,
	[educational] [text] NULL,
	[occupation] [text] NULL,
	[address] [text] NULL,
	[category] [varchar](50) NULL,
	[house] [varchar](50) NULL,
	[head] [varchar](50) NULL,
	[pic] [image] NULL,
 CONSTRAINT [PK_tblResident] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBlotter] ADD  CONSTRAINT [DF_tblBlotter_status]  DEFAULT ('Unsettled') FOR [status]
GO
ALTER TABLE [dbo].[tblPayment] ADD  CONSTRAINT [DF_tblPayment_status]  DEFAULT ('Pending') FOR [status]
GO
USE [master]
GO
